body {
	margin: 0;
	padding: 0;
}

#head {
	background-image: linear-gradient(to right, rgb(252, 212, 36) 0%, rgb(156, 13, 3) 100%);
	color: #fff;
}
.heada {
	margin: 10px;
	padding: 25px;
}
header > .logo , header > .logo-2{
	color: #fff;
	background-color: #fff;
}

.container-fluida {
	border:5px solid black;
	border-radius: 10px;
	padding: 5px;
	margin:10px;
	background-color: #F9F5F0;
}
.above {
	margin-top: 50px;
	margin-bottom: 50px;
	/*background-image:linear-gradient(to right, #696663, #fff);*/
	/*background-image: url('../images/back-black.jpg');*/
	background-size: cover;
	padding: 20px;
}
.web-team {
	border-bottom: 4px solid orange;
	align-items: center;
	text-align: center;
	width: 250px;
	margin: auto;
	margin-bottom: 40px;
	margin-top: 30px;
	padding: 7px;
	color: #fff;
	background-color: #000;
	font-family: serif;
}

.col {

	perspective: 1000px;
	margin-top: 45px;
}

.col:hover .card {
	transform: rotate(0);
}
.card {
	margin: 20px, 20px;
	padding: 20px, 20px;
	position: relative;
	-webkit-box-shadow: -25px 17px 15px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -25px 17px 15px 0px rgba(0,0,0,0.75);
	box-shadow: -25px 17px 15px 0px rgba(0,0,0,0.75);
	margin: 10px;
	border: 3px solid orange;
	transition: .4s; 
  	transform: rotateY(30deg);
  	width: 104%;
  	margin-top: 30px;
}

.card:hover {
	-webkit-box-shadow: -39px 42px 30px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -39px 42px 30px 0px rgba(0,0,0,0.75);
	box-shadow: -39px 42px 30px 0px rgba(0,0,0,0.75);
	transition: .4s;
}

.card ul {
	list-style: none;
	position: absolute;
	top:0;
	left: -40px;
}
.card ul li {
	border:1px dashed red;
	padding: 14px;
	width: 54px;
	margin: 4px;
	text-align: center;
	border-radius: 50%;
	background-color: rgba(255,255,255,.8);
}

.card ul li:hover {
	width: 110px;
	border-radius: 7px;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	transition: width .9s;
	text-align: right;
	padding-right: 20px;
}

.card ul > .facebook {
	border:3px dashed #3b5998;
}
.card ul > .instagram {
	border:3px dashed #F7134A;
}
.card ul > .linkedin {
	border:3px dashed #0A40FF;
}

.card ul > .facebook a {
	color:  #3b5998;
	font-weight: bolder;
	font-size: 24px;
}
.card ul > .instagram a {
	color:  #F7134A;
	font-weight: bolder;
	font-size: 24px;
}
.card ul > .linkedin a {
	color:  #0A40FF;
	font-weight: bolder;
	font-size: 24px;
}

.card-footer {
	/*background: linear-gradient(135deg, rgb(252, 212, 36) 0%, rgb(156, 13, 3) 100%) center no-repeat fixed;*/
	background-color: rgba(0,0,0,1);
	border-top: 2px solid orange;
	text-align: right;
	color: #fff;
	text-transform: uppercase;
}
.card-footer h5 {
	text-align: right;
	font-weight: bolder;
	font-size: 30px;
}

.absolute {
	border:3px dashed red;
	width: 65px;
	height: 65px;
	text-align: center;
	align-items: center;
	padding:0px;
	border-radius: 50%;
	transform: translateZ(90px);
	-webkit-box-shadow: -42px 40px 37px -5px rgba(0,0,0,0.85);
	-moz-box-shadow: -42px 40px 37px -5px rgba(0,0,0,0.85);
	box-shadow: -42px 40px 37px -5px rgba(0,0,0,0.85);
	box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.2), 0 10px 30px 0 rgba(0, 0, 0, 0.19);
	/*background-image: radial-gradient(orange, blue);*/
	position: absolute;
	bottom: -20px;
	left: -20px;




}
.absolute div {
	border:4px solid #000;
	/*padding: 10px;
	border-radius: 50%;*/
	border-radius: 50%;
	height: 100%;
	width: 100%;
	font-size: 30px;
	font-weight: bolder;
	background-image: radial-gradient(rgb(252, 212, 36) 0%, rgb(156, 13, 3) 100%);
}

.project {
	position: absolute;
	top: 400px;
	text-align: center;
	background-color: rgba(0,0,0,.4);
	width: 100%;

}

.project a:hover {
	/*border: 2px solid orange;*/
	background-color: orange;
	color: black;
}
.project a:hover i {
	color: black;
}

.project a {
	color: #fff;
	border:1px solid black;
	padding: 6px;
	background-color: rgba(0,0,0,0.9);
	border-radius: 20px;
	transition: .4s;
	font-size: 26px;
}

.project i {
	font-size: 22px;
	color: orange;
}

#back a i{
	border:4px solid #000;
	border-style: inset;
	padding: 15px;
	background-color: orange;
	border-radius: 10px;
	position: absolute;
	left: 30px;
	top: 130px;
	color: #000;
}

/************FOOTER*************/

footer {
	background-color: #000;
	color: #fff;
	text-align: center;
	padding: 50px;
	margin-top: 50px;
}
footer a {
	color: #fff;
	font-size: 22px;
	font-family: sans-serif;

}
footer p {
	font-size: 20px;
}

/************FOOTER*************/


/************QUOTE***************/
blockquote {
	margin-top: 40px;
}
blockquote b {
	font-size: 36px;
	font-weight: bolder;
}
blockquote p {
	text-decoration: underline;
	font-weight: bold;
}

@media(min-width:100px) and (max-width:562px){
	.card ul li {
	border:1px dashed red;
	padding: 20px;
	width: 34px;
	margin: 4px;
	text-align: center;
	border-radius: 50%;
	background-color: rgba(255,255,255,.6);
	}
}

